{% block footer %}
<div id="footer">
    <footer id="footer-1">
    <div class="container">
        <div class="footer-block col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-5 col-xs-5">
        <div class="logo">
            <img src="{{ "images/footer-logo.png"|resolveAsset }}"/>
        </div>
        <p>北京酷克数据科技有限公司</p>
        <p>地址：北京市朝阳区望京洛娃大厦C座6层1603室</p>
        </div>
        <div class="footer-block col-lg-3 col-md-4 col-sm-5 col-xs-5">
        <p class="title">联系地址</p>
        <p>电话：010-80699945</p>
        <p>微博：@HashData</p>
        <p>邮件：business@hashdata.cn</p>
        </div>
        <div class="footer-block qrcode col-lg-3 col-md-3">
        <p class="title">微信公众号</p>
        <img src="{{ "images/qrcode.png"|resolveAsset }}"/>
        </div>
    </div>
    </footer>
    <footer id="footer-2">
    <p>Copyright © 2016 HashData Ltd. 京ICP备16019672号-1</p>
    <p><span class="emblem"></span>京公安网备11010502031309号</p>
    </footer>
</div>
{% endblock %}